<div class="header flexRow">
  <div class="content flexRow spaceAround">
    <a href="/test">Test</a>
    <!-- <a href="/signup">Sign up</a> -->
    <!-- <a href="/login">Log in</a> -->
    <a href="/academies">Academies</a>
    <a href="/addNewAcademy">Add academy</a>
    <a href="/welcome">Courses</a>
    <a href="/addNewCourse">Add course</a>
  </div>
</div>
