<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unauthorized</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <img
      class="backgroundImg"
      src="https://static1.squarespace.com/static/5e949a92e17d55230cd1d44f/t/6503135de3c6577fbc27c966/1694700397907/TiGradient3x2.png?format=1500w"
      alt=""
    />

    <div class="bodyContent flexCol">
      <div class="formContainer" style="scale: 1.2">
        <div class="form flexCol">
          <h1 class="cardTitle">UNAUTHORIZED</h1>
          <p class="cardText">
            You do not have permission to access this page.
          </p>
          <a class="button" href="/login">Go to Login</a>
        </div>
      </div>
    </div>
  </body>
</html>
